body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

#game-board {
  width: 100vmin;
  height: 100vmin;
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
}

.snake {
  background-color: blue;
  border: .25vmin solid black;
}

.food {
  background-color: burlywood;
  border: .25vmin solid black;
}
