body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

#game-board {
  width: 100vmin;
  height: 100vmin;
  display: grid;
}

.snake {
  border: .25vmin solid black;
}

.food {
  border: .25vmin solid black;
}
